.u-section-1 .u-sheet-1 {
  min-height: 613px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 131px auto 0;
}

.u-section-1 .u-map-1 {
  height: 358px;
  margin-top: 30px;
  margin-bottom: 22px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 813px;
  }

  .u-section-1 .u-map-1 {
    height: 490px;
  }
}