 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(235,133,40,0.45), rgba(235,133,40,0.45)), url("images/adrien-olichon-ZgREXhl8ER0-unsplash.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 749px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 387px auto 0;
}

.u-section-1 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 618px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 559px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 322px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 19px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 465px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 37px;
    margin-left: 25px;
    margin-right: 25px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 90px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 700;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 116px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 21px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(235,133,40,0.5), rgba(235,133,40,0.5)), url("images/marissa-grootes-u2Lp8tXIcjw-unsplash.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 332px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 66px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: normal;
  margin: 49px auto 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 37px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 318px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    font-weight: 700;
    margin-top: 48px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 38px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 244px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 183px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 115px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 375px;
}

.u-section-4 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(102,18,20,0.55), rgba(102,18,20,0.55)), url("images/fish.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-1 {
  padding: 10px;
}

.u-section-4 .u-text-1 {
  font-weight: normal;
  margin: 0 auto;
}

.u-section-4 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(102,18,20,0.55), rgba(102,18,20,0.55)), url("images/beef.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-text-2 {
  font-weight: normal;
  margin: 0 auto;
}

.u-section-4 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(102,18,20,0.55), rgba(102,18,20,0.55)), url("images/louis-hansel-0sYLBZjgTTw-unsplash.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4 .u-text-3 {
  font-weight: normal;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    min-height: 309px;
  }

  .u-section-4 .u-text-1 {
    font-weight: 700;
  }

  .u-section-4 .u-text-2 {
    font-weight: 700;
  }

  .u-section-4 .u-text-3 {
    font-weight: 700;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 710px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(235,133,40,0.5), rgba(235,133,40,0.5)), url("images/alex-robert-Xpt4_HgZSjw-unsplash.jpg");
}

.u-section-5 .u-sheet-1 {
  min-height: 500px;
}

.u-section-5 .u-text-1 {
  font-weight: normal;
  margin: 64px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 375px;
}

.u-section-5 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/vadim-markin-BFtIlGdWKbk-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px;
}

.u-section-5 .u-text-2 {
  margin: 271px 93px 0 119px;
}

.u-section-5 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/owen-bruce-hcET0JIGXoI-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px;
}

.u-section-5 .u-text-3 {
  margin: 271px 93px 0 119px;
}

.u-section-5 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/toa-heftiba-5JeTin55H9U-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px;
}

.u-section-5 .u-text-4 {
  margin: 271px 93px 0 119px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-5 .u-text-1 {
    font-weight: 700;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 309px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-left: 6px;
    margin-right: 6px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 710px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 149px;
  }
}